/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

@font-face {
    font-family: 'Playfair';
    src: url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair';
    src: url('fonts/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    background-color: rgb(235, 235, 235);
    margin: 0;
    padding: 0;
    font-family: 'Playfair', serif;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 5px 5px #0000009d;
    font-style: italic;
    /* font-variant: small-caps; */
}

p {
    line-height: 1.2;
    letter-spacing: .75px;
    text-align: left;
    word-spacing: 0.75px;
    color: blue;
    /* white-space: nowrap; */
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    /* visibility: hidden; */
    /* display: none; */
}

#decor {
    text-decoration: underline;
    font-style: italic;
}