/* Style Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}

/* Variables */
:root {
    --neutral-0: #fff;
    --neutral-10: #f9fafb;
    --neutral-20: #e5e7eb;
    --neutral-30: #d1d5db;
    --neutral-40: #9ca3af;
    --neutral-50: #6b7280;
    --neutral-60: #4b5563;
    --neutral-70: #374151;
    --neutral-80: #1f2937;
    --neutral-90: #111827;
    --neutral-100: #030712;
    --general-padding: 72px;
    --general-mobile-padding: 20px;
    --top-bottom-mobile-padding: 40px;
}

/* Default elements */
body {
    font-family: "Inter Tight", sans-serif;
    color: var(--neutral-100);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

p {
    font-weight: 500;
    font-size: 28px;
}

h1, #cta-section h3 {
    font-weight: 700;
    font-size: 104px;
    letter-spacing: -2px; 
}

h2 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -1px; 
}

button {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 56px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid var(--neutral-100);
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
}

header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 24px var(--general-padding);
}

main {
    max-width: 1200px;
    padding: 0 var(--general-padding);
    grid-column: 2;
    grid-row: 2;
}

#menu {
    display: flex;
    gap: 16px;
    align-items: center;
}

#menu button {
    height: 48px;
}

#hero, #works, #about, #cta-section, #insights, #awards, #testimonials {
    padding: var(--general-padding) 0;
}

#heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#heading h1 span, #cta-section h3 span {
    color:var(--neutral-40);
}

#cta {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 212px auto 518px;
}

#cta button {
    background-color: var(--neutral-100);
    color: var(--neutral-0);
    font-size: 22px;
    height: 77px;
    width: 212px;
    padding: 24px 37px;
    border: none;
    white-space: nowrap;
    flex: none;
    justify-content: center;
}

#cta p {
    font-size: 22px;
    font-weight: 400;
    height: 58px;
    color: var(--neutral-70);
    grid-column: 3;
    align-self: end;
    justify-self: end;
    letter-spacing: 1px;
    line-height: 28px;
}

#works header {
    padding: 0;
}

#works header button {
    display: flex;
    padding: 16px 20px;
}

button#mobile-works {
    display: none;
}

#works #cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

#works #cards img {
    width: 100%;
    height: 512px;
    object-fit: cover;
    object-position: center top;
    border-radius: 24px;
    margin-bottom: 24px;
}

.card h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
}

.card p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--neutral-70);
}

.card button {
    justify-content: center;
    width: 80px;
    padding: 16px 28px;
}

.card-details {
    display: flex;
    justify-content: space-between;
}

#insights header {
    padding: 0;
}

#insight-pic { 
    margin-top: 40px;
    display: flex;
    gap: 32px;
    flex-direction: row;

}

.insight img {
    border-radius: 24px;
    width: auto;
    height: 400px;
    object-fit: contain;
    padding: 0px;
    margin: 0px;

}

.insight-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
}

.insight-details h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 28.6px;
}

.insight-details p {
    font-size: 18px;
    margin-top: 8px;
    font-weight: 400;
    color: var(--neutral-70);
    line-height: 150%;
    text-align: left;
}

#about {
    display: flex;
    flex-direction: row;
    gap: var(--general-padding);
}

#about h2 {
    font-size: var(--general-padding);
    font-weight: 600;
    margin-bottom: 24px;
}

#about p {
    font-size: 18px;
    font-weight: 400;
    color: var(--neutral-70);
    line-height: 1.5;
}

#about_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

#about #categories {
    align-self: flex-end;
    flex: none;
    color: var(--neutral-50);
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    width: 128px;
}

/* #about #categories ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
} */

#about #categories li {
    margin-bottom: 24px;
}

#about #categories li:last-child {
    margin-bottom: 0;
}

#companies {
    position: relative;
    width: 1200px;
    left: calc(-1 * var(--general-padding));
    display: flex;
    gap: var(--general-padding);
    justify-content: center;
}

#cta-section div:first-child {
    margin-bottom: var(--general-padding);
}

#cta-section div:nth-child(2) ul {
    display: flex;
    gap: 40px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    justify-content: center;
}

#cta-section div:nth-child(2) a {
    color:var(--neutral-100);
}

#cta-section h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 24px;
}

#cta-section h2, #cta-section h3 {
    text-align: center;
}

#awards {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#awards h2 {
    font-size: 40px;
    font-weight: 600;
    width: 275px;
}

#awards_items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

#awards_items .item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--neutral-20);
}

#awards_items .item .text_wrapper {
    width: 424px;
}

#awards_items .item .text_wrapper h3 {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
}

#awards_items .item .text_wrapper p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: var(--neutral-70);
    margin-top: 8px;
}

#awards_items .item .circle_button { 
    display: flex;               
    align-items: center;         
    justify-content: center;     
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--neutral-10);   
    border: none;      
    padding: 0;
}

#testimonials {
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
}

#testimonials #testimony {
    font-size: 22px;
    font-weight: 400;
    width: 784px;
    line-height: 130%;;
    text-align: center;
}

#testimonials #clients {
    display: flex;
    gap: 64px;
}

#testimonials #clients .client {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 146px;
    align-items: center;
    text-align: center;
}

#testimonials #clients .client-transparent {
    opacity: 0.4;
}

#testimonials #clients .client img {
    width: 64px;
    height: 64px;
}

#testimonials #clients .client h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0;
}

#testimonials #clients .client p {
    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
}

#testimonials #clients .client span {
    color: var(--neutral-50);
}

footer {
    grid-column: span 3;
    grid-row: 3;    
    background-color: var(--neutral-100);
    display: flex;
    justify-content: center;
    color: var(--neutral-0);
}

footer span {
    color: var(--neutral-50);
}

footer section {
    max-width: 1200px;
    padding: var(--general-padding) var(--general-padding) 48px var(--general-padding);
}

footer section p {
    color: var(--neutral-20);
    padding-top: 8px;
    font-size: 22px;
    font-weight: 400;
    line-height: 130%;
}

#social-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 64px;
    line-height: 40px;
}

#social-links button {
    width: 252px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: var(--neutral-20);
    background-color: transparent;
    border: 1px solid var(--neutral-60);
    justify-content: center;
}

#page-list-connect {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: var(--general-padding);
}

#page-list-connect .footer-section {
    color: var(--neutral-50);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#page-list-connect h2 {
    color: var(--neutral-50);
    font-size: 22px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1px;
}

#input-wrapper {
    position: relative;
    width: 100%;
}

#input-wrapper svg {
    position: absolute;
    right: 0;
    top: 0;
}

#input-wrapper input {
    width: 328px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 36px 20px 0;
    color: var(--neutral-0);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--neutral-0);
}

#input-wrapper input::placeholder {
    color: var(--neutral-50);
}

#input-wrapper input:focus-visible {
    outline: none;
    border-bottom-color: var(--neutral-40);
}

#footer-links {
    display: flex;
    flex-direction: row;
    gap: 91px;
}

#footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#footer-links a {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: var(--neutral-0);
    text-decoration: none;

}

footer #copyright {
    margin-top: var(--general-padding);
    color: var(--neutral-60);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 1200px) {
    body {
        grid-template-columns: 1fr;
    }
    header {
        padding: var(--general-mobile-padding);
    }
    header, main, footer {
        grid-column: 1;
        width: 100vw;
    }
    main {
        padding: 0 var(--general-mobile-padding);
        overflow-x: hidden;
    }
    
    footer {
        overflow-x: hidden;
    }
    
    #hero, #works, #about, #companies {
        padding: var(--top-bottom-mobile-padding) 0;
    }

    #hero h1 {
        font-size: 72px;
    }

    #cta {
        margin-top: 24px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        row-gap: 32px;
    }

    #cta p {
        grid-column: 1;
        grid-row: 1;
        height: auto;
    }

    #cta button {
        grid-column: 1;
        grid-row: 2;
    }

    #works header, #insights header {
        width: 100%;
    }
    
    #works h2, #insights h2 {
        font-size: 32px;
    }

    #works #cards {
        gap: 32px;
    }

    #works #cards img {
        height: 260px;
    }

    #about {
        flex-direction: column;
        gap: 32px;
    }

    #about h2 {
        font-size: 56px;
    }

    #about_description button {
        display: none;
    }

    #about #categories {
        width: 100%;
        align-self: normal;
    }

    #about #categories ul {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: space-between;
    }

    #about #categories li {
        margin-bottom: 0;
    }

    #about button {
        align-self: flex-start;
    }

    #companies {
        left: 0;
        justify-content: flex-start;
    }
}

@media (max-width: 425px) {
    #menu button:first-child, #works header button, #insights header button {
        display: none;
    }

    button#mobile-works {
        display: flex;
        width: 100%;
        margin-top: 32px;
        justify-content: center;
    }

    #cta button, #about button {
        width: 100%;
    }

    #about #categories ul {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        row-gap: 24px;
        justify-content: space-between;
    }

    #about #categories li:nth-child(1) {
        text-align: left;
    }

    #about button {
        justify-content: center;
    }

    /* #about #categories li:nth-child(odd) {
        text-align: left;
    }

    #about #categories li:nth-child(even) {
        text-align: right;
    }     */
}