/* Style Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* Variables */
:root {
    --neutral-0: #fff;
    --neutral-10: #f9fafb;
    --neutral-20: #e5e7eb;
    --neutral-30: #d1d5db;
    --neutral-40: #9ca3af;
    --neutral-50: #6b7280;
    --neutral-60: #4b5563;
    --neutral-70: #374151;
    --neutral-80: #1f2937;
    --neutral-90: #111827;
    --neutral-100: #030712;
    --general-padding: 72px;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}

/* Default elements */
body {
    font-family: "Inter Tight", sans-serif;
    color: var(--neutral-100);
    padding: 0 var(--general-padding);
    max-width: 1200px;
    margin: 0 auto;
}

p {
    font-weight: 500;
    font-size: 28px;
}

h1, #cta-section h3 {
    font-weight: 700;
    font-size: 104px;
    letter-spacing: -2px; 
}

h2 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -1px; 
}

button {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 56px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid var(--neutral-100);
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

#menu {
    display: flex;
    gap: 16px;
    align-items: center;
}

#menu button {
    height: 48px;
}

#hero, #works, #about, #cta-section, #insights, #awards, #testimonials {
    padding: var(--general-padding) 0;
}

#heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#heading h1 span, #cta-section h3 span {
    color:var(--neutral-40);
}

#cta {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 212px auto 518px;
}

#cta button {
    background-color: var(--neutral-100);
    color: var(--neutral-0);
    font-size: 22px;
    height: 77px;
    width: 212px;
    padding: 24px 37px;
    border: none;
    white-space: nowrap;
    flex: none;
    justify-content: center;
}

#cta p {
    font-size: 22px;
    font-weight: 400;
    height: 58px;
    color: var(--neutral-70);
    grid-column: 3;
    align-self: end;
    justify-self: end;
    letter-spacing: 1px;
    line-height: 28px;
}

#works header {
    padding: 0;
}

#works button {
    padding: 16px 20px;
}

#works #cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

#works #cards img {
    width: 100%;
    height: 512px;
    border-radius: 24px;
    margin-bottom: 24px;
}

.card h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
}

.card p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--neutral-70);
}

.card button {
    justify-content: center;
    width: 80px;
    padding: 16px 28px;
}

.card-details {
    display: flex;
    justify-content: space-between;
}

#insights header {
    padding: 0;
}

#insight-pic { 
    margin-top: 40px;
    display: flex;
    gap: 32px;
    flex-direction: row;

}

.insight img {
    border-radius: 24px;
    width: auto;
    height: 400px;
    object-fit: contain;
    padding: 0px;
    margin: 0px;

}

.insight-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
}

.insight-details h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 28.6px;
}

.insight-details p {
    font-size: 18px;
    margin-top: 8px;
    font-weight: 400;
    color: var(--neutral-70);
    line-height: 150%;
    text-align: left;
}

#about {
    display: flex;
    flex-direction: row;
    gap: var(--general-padding);
}

#about h2 {
    font-size: var(--general-padding);
    font-weight: 600;
    margin-bottom: 24px;
}

#about p {
    font-size: 18px;
    font-weight: 400;
    color: var(--neutral-70);
    line-height: 1.5;
}

#about_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

#about #categories {
    align-self: flex-end;
    flex: none;
    color: var(--neutral-50);
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    width: 128px;
}

/* #about #categories ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
} */

#about #categories li {
    margin-bottom: 24px;
}

#about #categories li:last-child {
    margin-bottom: 0;
}

#companies {
    position: relative;
    width: 1200px;
    left: -var(--general-padding);
    display: flex;
    gap: var(--general-padding);
    justify-content: center;
}

#cta-section div:first-child {
    margin-bottom: var(--general-padding);
}

#cta-section div:nth-child(2) ul {
    display: flex;
    gap: 40px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    justify-content: center;
}

#cta-section div:nth-child(2) a {
    color:var(--neutral-100);
}

#cta-section h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 24px;
}

#cta-section h2, #cta-section h3 {
    text-align: center;
}

#awards {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#awards h2 {
    font-size: 40px;
    font-weight: 600;
    width: 275px;
}

#awards_items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

#awards_items .item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--neutral-20);
}

#awards_items .item .text_wrapper {
    width: 424px;
}

#awards_items .item .text_wrapper h3 {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
}

#awards_items .item .text_wrapper p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: var(--neutral-70);
    margin-top: 8px;
}

#awards_items .item .circle_button { 
    display: flex;               
    align-items: center;         
    justify-content: center;     
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--neutral-10);   
    border: none;      
    padding: 0;
}

#testimonials {
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
}

#testimonials #testimony {
    font-size: 22px;
    font-weight: 400;
    width: 784px;
    line-height: 130%;;
    text-align: center;
}

#testimonials #clients {
    display: flex;
    gap: 64px;
}

#testimonials #clients .client {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 146px;
    align-items: center;
    text-align: center;
}

#testimonials #clients .client-transparent {
    opacity: 0.4;
}

#testimonials #clients .client img {
    width: 64px;
    height: 64px;
}

#testimonials #clients .client h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0;
}

#testimonials #clients .client p {
    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
}

#testimonials #clients .client span {
    color: var(--neutral-50);
}

footer {
    background-color: var(--neutral-100);
    width: 100%;
    height: 642px;
    /* padding: 0;
    margin: 0%;
    display: flex;
    margin-left: -65px; */
}
footer span {
    color: var(--neutral-50);
}
footer #footer-showcasy h2 {
    color: var(--neutral-0);
}

#footer-showcasy {
    position: relative;
    padding-left: var(--general-padding);
    padding-top: var(--general-padding);
    padding-right: var(--general-padding);
    padding-bottom: 48px;
    border: #e5290c;
    border-width: 1px;
    align-items: center;
    justify-content: center;
}
.white-p {
    color: var(--neutral-20);
    font-size: 22px;
    font-weight: 400;
    line-height: 28.6px;
    padding-top: 8px;
}
.sharing-b {
    color: var(--neutral-20);
    background-color: none;
    border-color: var(--neutral-60);
    border-width: 1px;
    width: 252px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer #footer-showcasy #share-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 64px;
}
footer #footer-showcasy #page-list{
    margin-top: var(--general-padding);
    color: var(--neutral-50);
    height: 165px;
    display: flex;
    flex-direction: row;
}
footer #footer-showcasy #page-list-connect{
    display: flex;
    flex-direction: column;
    height: 165px;
    
}

footer #footer-showcasy #page-list h2{
    color: var(--neutral-50);
    font-size: 22px;
    font-weight: 600;
    line-height: 28.6px;
}
.final-links {
    font-size: 16px;
    font-weight: 500;
    color: var(--neutral-0);
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    text-decoration: none;

}
#footer-links{
    display: flex;
    flex-direction: row;
    gap: 91px;
}
footer #footer-showcasy #final-text {
    margin-top: var(--general-padding);
    display: flex;
    align-items: center;
    justify-content: center;
}


footer #footer-showcasy #final-text h3 {
    color: var(--neutral-60);
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    margin-top: var(--general-padding);
}
footer #footer-showcasy #stay-connected {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    gap: 16px;
}

#page-link-connect{
    display: flex;
    flex-direction: column;
    gap: 16px;
}